.ui-datepicker.ui-widget-content,
.ui-datepicker, .ui-widget-content
{
    border-color: #142038 !important;
    background-color: #D6D6D6 !important;
}

div.ui-datepicker-header  {
    background-color: #142038 !important;
}

div.user-input input:disabled,
div.user-input textarea:disabled,
div.user-input select:disabled {
    /*background-color: var(--smoke);*/
}

div.user-input select {
    height: 100%;
    width: 100%
}

div.col, div.col *
div[class^="col-"], div[class^="col-"] *
div.row, div.row * {
    margin: 0px;
    padding: 0px;
}

div.row {
    /*margin-top: .5rem !important;*/
    width: 100%;
}

.form-btn-nowidth button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px 8px;
    /*width: 160px;*/
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    /*color: var(--ink-black);*/
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
    align-items: center;
}

input, optgroup, select, textarea {
    line-height: normal !important;
}

i.ph {
    font-size: 32px;
    cursor:pointer;
}

label {
    padding-bottom: .25rem;
}

tbody tr td a.action-text {
    text-decoration: underline;
    cursor: pointer;
}

a.pagination-info {
    cursor:default;
}