label {
    width: 35%;
    padding-bottom: 15px;
    padding-left: 15px;
}

.myInput{
    width: 95%;
}

.col-5{
    border: black solid thin;
    border-radius: 5px;
    padding-top: 15px;
    width: 49% !important;
}

.col-6 {
    border: black solid thin;
    border-radius: 5px;
    padding-top: 15px;
}

.col-1 {
    width: 3px;
}

.myLabel{
    
    padding-bottom: 0;
}

.myLabel-detail{
    padding-bottom: 0;
    padding-top: 20px;
}

.myTable th {
    border: solid black thin;
    text-align: center;
    color: black;
    padding-bottom:10px;
    padding-top: 10px;
}

.myTable tr {
    text-align: center;
    border: solid black thin;
}

.myTable td {
    text-align: center;
    border: solid black thin;
}

.text-center{
    text-align: center;
}

.myContainer{
    border: solid thin black;
}

.myParagraph{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    width: 15%;
    padding-top: 12.5px;
    padding-bottom: 5px;
    margin-left: 45%;
    background-color: aqua;
    border-radius: 5px;
}

.logo{
    width: 60px;
    height: 55px;
}

.header-input{
    width: 100%;
    background-color: gainsboro;
    border-width: thin;
}