

.main-content {
    margin-left: auto;
    margin-right: auto;
    padding: 0.75em;
    color: #000;
    line-height: 2;
    font-family: Calibri, Geneva, Tahoma, sans-serif !important;
    font-size:12px;
}

.form-title {
    margin: 0 auto 0;
    padding-left: 25px;
}

    .form-title h1 {
        display: inline-block;
        text-align: left;
        color: #4C565E;
        border-bottom: 2px solid #6caee0;
    }

.one-col .two-col {
    width: auto;
    /*padding:0.75em;*/
}

.one-col .label, .one-col .select {
    width: 100%;
    float: left;
    margin: 0px 10px 5px 10px;
}

.one-col input[type=checkbox] {
    float: left;
    width: 25px;
    height: 25px;
}

.two-col .label {
    width: 45%;
    float: left;
    margin: 0px 10px 5px 10px;
    /*margin: 0 20px 0 0;*/
}

.one-col .span, .two-col .span {
    display: block;
    margin: 0 0 3px;
    font-size: 1.2em;
    /*font-weight: bold;*/
}

.two-col .input, .two-col textarea, .two-col select {
    width: 100%;
    border: 1px solid #000;
    /*padding: 5px;*/
    padding: 0.75em !important;
    border: 1px solid darkgray;
    margin: 0;
}

.table {
    width: 93%;
    margin-left: 15px;
}

.one-col .input, .one-col textarea {
    width: 93%;
    border: 1px solid #000;
    /*padding: 5px;*/
    padding: 0.5em !important;
    border: 1px solid darkgray;
    margin: 0;
}

.one-col .input-pop {
    width: 88%;
    border: 1px solid #000;
    /*padding: 5px;*/
    padding: 0.5em !important;
    border: 1px solid darkgray;
    margin: 0;
}

.two-col .input-pop {
    width: 84.5%;
    border: 1px solid #000;
    /*padding: 5px;*/
    padding: 0.5em !important;
    border: 1px solid darkgray;
    margin: 0;
}

.two-col .img-pop {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.one-col .img-pop {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.one-col .select {
    width: 94.5%;
    border: 1px solid #000;
    /*padding: 5px;*/
    padding: 0.6em !important;
    border: 1px solid darkgray;
    margin: 0;
}

input, select, textarea {
    border-radius: 0.5em;
}

input:disabled, select:disabled {
    cursor: not-allowed;
    background-color: #a2aec1;
}

button:disabled {
    background-color: gray !important;
    color: white !important;
}

button:disabled:hover {
    background-color: gray !important;
    cursor: not-allowed;
}

.img-search {
    margin-left: 15px;
    cursor: pointer;
}

button {
    min-width: 100px !important;
    transition: background-color 0.5s ease-out;
    border-radius: 0.5em;
}

.btn {
    border: 2px solid black;
    background-color: white !important;
    color: black !important;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.btn-inline {
    position: absolute;
}

.btn-sm {
    border: 2px solid black;
    background-color: white !important;
    color: black !important;
    padding: 3.5px 7px;
    font-size: 13px;
}

/* Green */
.success {
    border-color: #4CAF50 !important;
    color: green !important;
}

.success:hover {
    background-color: #4CAF50 !important;
    color: white !important;
}

/* Blue */
.info {
    border-color: #2196F3 !important;
    color: dodgerblue !important;
}

.info:hover {
    background: #2196F3 !important;
    color: white !important;
}

/* Orange */
.warning {
    border-color: #ff9800 !important;
    color: orange !important;
}

.warning:hover {
    background: #ff9800 !important;
    color: white !important;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red !important;
}

.danger:hover {
    background: #f44336 !important;
    color: white !important;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black !important;
}

.default:hover {
    background: #e7e7e7 !important;
}

input:hover, textarea:hover {
    background-color: #dbe7f9;
    border: 1px solid #000 !important;
}

@media only screen and (max-width: 600px) {
    .two-col .label {
        width: 100%;
        float: left;
        margin: 15px;
        /*margin: 0 20px 0 0;*/
    }
}


.div-center {
    outline: 1px solid lime; /* LAYOUT TESTING */
    text-align: center;
}

.checkbox-list {
    outline: 1px solid magenta; /* LAYOUT TESTING */
    list-style: none;
    text-align: left;
    width: 225px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.checkbox-list li {
    outline: 1px solid cyan; /* LAYOUT TESTING */
    list-style-type: none;
    width: 225px;
}

.checkbox-list li label {
    display: inline-block;
    width: 185px;
    padding: 2px 10px 0px 8px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #6caee0;
    color: white;
}

.modal-header h2 {
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    /*color: white;*/
    float: left;
    width: 97.6%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    cursor:pointer;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination .infoPaging {
    float:right;
    text-decoration: none;
    cursor:none;
    color:black;
}


#loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#tooltip {
    display: inline-block;
    color: red;
    background-color: white;
    border: 1px solid red;
    text-align: center;
    padding: 0 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.utility-invisible {
    visibility: hidden;
}

.utility-nodisplay {
    display: none;
}

/* Disabled look alike Text input for Nintex WebForm inputs*/
/* How-To : apply "popupfilled" as one of control's class name*/
div.popupfilled input, input.popupfilled {
    background-color:rgb(253, 253, 253) !important;
	border-color: rgb(225, 225, 225) !important;
	color: rgb(177, 177, 177) !important;
}


/* Styling : Custom .aspx page's title */
h1#pageTitle.ms-core-pageTitle {
    text-align: left;
    text-decoration: underline;
    align-items: flex-start;
}

/* Styling patch : match option's color with normal text*/
option {
    color: #000;
}

.uniformed-nwf-inputSmall {
    margin-top: 4px;
    width: 160px;
}

select.uniformed-nwf-select {

}